@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  --font-fallback: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  /*********************************
  *   PRIMARY COLOURS #5357B6 #ED6368
  *********************************/
  --blue-primary: #5357b6;
  --blue-primary-hsl: hsl(238, 40%, 52%);

  --soft-red-primary: #ed6468;
  --soft-red-primary-hsl: hsl(358, 79%, 66%);

  --grayish-blue-primary: #c3c4ef;
  --grayish-blue-primary-hsl: hsl(239, 57%, 85%);

  --pale-red-primary: #ffb8bb;
  --pale-red-primary-hsl: hsl(357, 100%, 86%);

  /*********************************
  *   NEUTRAL COLOURS
  *********************************/
  --dark-blue-neutral-hsl: hsl(212, 24%, 26%);
  --dark-blue-neutral: #324152;

  --grayish-blue-neutral-hsl: hsl(211, 10%, 45%);
  --grayish-blue-neutral: #67727e;

  --light-gray-neutral-hsl: hsl(223, 19%, 93%);
  --light-gray-neutral: #eaecf1;

  --vlight-gray-neutral-hsl: hsl(228, 33%, 97%);
  --vlight-gray-neutral: #f5f6fa;

  --white-hsl: hsl(0, 0%, 100%);
  --white: #ffffff;

  --btn-inactive: #c5c6ef;
  --btn-delete: #ed6368;

  /**************************************
  * Layout size:
  * - Mobile: 375px
  * - Desktop: 1440px
  *
  * - Family: [Rubik](http://fonts.google.com/specimen/Rubik)
  * - Font Weight: 400, 500, 700
  ***************************************/
}

body {
  font-family: "Rubik", var(--font-fallback);
  font-size: 1.6rem;
  background-color: var(--vlight-gray-neutral);
  scrollbar-width: thin;
  padding: 4rem 0;
}

.app {
  max-width: 100vw;
  width: calc(54% + 4rem);
  margin: 0 auto;
  padding: 2.5rem 2rem;
}

.comment-list {
  list-style: none;
  margin-bottom: 1.65rem;
}

.comment-list > *:not(:first-child) {
  margin-top: 1.65rem;
}

.comment,
.post-comment,
.post-reply {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 2.5rem 3rem;
  background-color: var(--white);
  border-radius: 0.7rem;
}

.comment {
  gap: 2.5rem;
}

.reply {
  margin-left: 4.85rem;
  padding-left: 4.01rem;
  border-left: 2px solid var(--light-gray-neutral);
}

.replying-to {
  color: var(--blue-primary);
  font-weight: 500;
}

.post-reply {
  margin-top: 1rem !important;
}

.post-comment,
.post-reply {
  gap: 1.3rem;
}

.comment-top {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  margin-bottom: 1.2rem;
}

.comment-top > *:not(:last-child) {
  margin-right: 1.3rem;
}

.comment-description,
.timestamp {
  color: var(--grayish-blue-neutral);
}

.comment-form {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1.3rem;
  justify-items: flex-start;
}

.edit-comment {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1.8rem;
}

.edit-comment > textarea {
  min-height: 12rem;
}

.edit-comment > button {
  align-self: flex-end;
}

.comment-input {
  width: 100%;
  min-height: 10rem;
  padding: 1rem 1.75rem;
  border: 1.85px solid var(--light-gray-neutral);
  border-radius: 0.5rem;
  color: var(--grayish-blue-neutral);
  resize: none;
  outline: 1px solid transparent;
  overflow: auto;

  scroll-behavior: smooth;
  scrollbar-width: thin;
}

.comment-input::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 1rem;
}

.comment-input::-webkit-scrollbar-track {
  background-color: var(--light-gray-neutral);
}

.comment-input::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--grayish-blue-neutral);
  opacity: 0;
}

.comment-input:focus {
  outline: 1px solid var(--blue-primary);
  border: 1px solid transparent;
  caret-color: var(--blue-primary);
  transition: all 0.7s ease-in-out;
}

.comment-input::placeholder {
  color: var(--grayish-blue-neutral);
  opacity: 0.7;
}

.user-profile {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.current-user {
  padding: 0rem 0.5rem;
  background-color: var(--blue-primary);
  color: var(--white);
  font-size: 1.4rem;
  margin-left: -0.4rem;
  border-radius: 0.3rem;
}

.user-name {
  color: var(--dark-blue-neutral);
  font-weight: 500;
}

.user-avatar,
.avatar {
  border-radius: 50%;
  aspect-ratio: 1;
}

.avatar {
  width: 4.2rem;
}

.user-avatar {
  width: 5rem;
  margin-left: -3px;
}

.votes {
  display: flex;
  flex-direction: column;
  background-color: var(--vlight-gray-neutral);
  align-items: center;
  align-self: flex-start;
  padding: 0 0.2rem;
  border-radius: 1.2rem;
  overflow: hidden;
}

.votes-score {
  margin: 0.65rem 0;
  color: var(--blue-primary);
  font-weight: 500;
}

.btn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-incr,
.btn-desc {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;

  border-radius: 50%;
  width: 3.3rem;
  height: 3.3rem;
  overflow: hidden;
  position: relative;
}

.btn-incr:hover .icon-vote,
.btn-desc:hover .icon-vote {
  fill: var(--blue-primary);
  transition: all 0.4s ease-in-out;
}

.btn-incr::before,
.btn-desc::before {
  content: " ";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(0);
  opacity: 0.13;
  z-index: 1;
}

.btn-incr:active::before,
.btn-desc:active::before {
  background-color: var(--blue-primary);
  border-radius: 50%;
  animation: ripple 1000ms ease-out backwards;
}

.btn-reply,
.btn-edit {
  color: var(--blue-primary);
}

.btn-delete {
  color: var(--btn-delete);
}

.btn-reply,
.btn-edit,
.btn-delete {
  font-weight: 500;
  padding: 0.5rem 0.7rem;
  background-color: transparent;
}

.btn-reply:hover,
.btn-edit:hover,
.btn-delete:hover {
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}

.btn-submit,
.btn-update {
  align-self: flex-start;
  padding: 1rem 2.5rem;
  background-color: var(--blue-primary);
  color: var(--white);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4rem;
  border-radius: 0.72rem;
  overflow: hidden;
  position: relative;
}

.btn-submit:hover,
.btn-update:hover {
  background-color: var(--grayish-blue-primary);
  transition: background-color 0.3s ease-in-out;
}

.btn-submit::after {
  display: inline-block;
  content: "";
  position: absolute;
  width: 10rem;
  height: 10rem;
  transform: scale(0);
  border-radius: 50%;
  z-index: 1;
}

.btn-submit:active::after {
  background-color: var(--white);
  opacity: 0.2;
  animation: ripple 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
}

.reply-icon,
.edit-icon {
  fill: var(--blue-primary);
}

.delete-icon {
  fill: var(--btn-delete);
}

.reply-icon,
.edit-icon,
.delete-icon {
  margin-right: 0.6rem;
  width: 1.4rem;
  height: 1.3rem;
}

.icon-vote {
  fill: var(--btn-inactive);
}

.timestamp,
.btn-delete {
  margin-right: 0 !important;
}

@keyframes ripple {
  to {
    transform: scale(7);
    opacity: 0.02;
  }
}

/* @media screen and (width <= 37.5em) {
  body {
    padding: 0;
  }

  .app {
    width: 100%;
  }

  .comment {
    grid-template-rows: auto;
    column-gap: 0;
    row-gap: 2.8rem;
    position: relative;
  }

  .post-reply,
  .post-comment {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    position: relative;
  }

  .comment-form {
    column-gap: 0;
    grid-row-start: 1;
  }

  .user-avatar {
    grid-row-start: -1;
    margin-left: 0;
  }

  .comment-top {
    margin-bottom: 1.75rem;
  }

  .votes {
    grid-row-start: -1;
    flex-direction: row;
    margin-right: auto;
  }

  .votes > p {
    padding: 0rem 1.5rem;
    margin: 0;
  }

  .btn-incr,
  .btn-desc {
    width: 4.4rem;
    height: 4.4rem;
    aspect-ratio: 1;
  }

  .btn-reply,
  .btn-edit,
  .btn-delete,
  .btn-submit {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
  }

  .btn-submit {
    margin-bottom: -1rem;
  }

  .btn-delete {
    right: 8rem;
  }

  .reply {
    margin-left: 0;
    padding-left: 2rem;
  }
} */

/* @media screen and (37.5625rem <= width <= 56.25em) {
  .app {
    width: calc(80% + 4rem);
  }
} */

@media screen and (56.3125em <= width <= 70.625em) {
  .app {
    width: calc(70% + 4rem);
  }

  /* .timestamp,
  .btn-delete {
    margin-right: 0 !important;
  } */
}

@media screen and (37.5625rem <= width <= 56.25em) {
  .app {
    width: calc(80% + 4rem);
  }
}

@media screen and (width <= 50em) {
  .reply .comment-form {
    grid-template-columns: 1fr;
  }

  /* .timestamp,
  .btn-delete {
    margin-right: 0 !important;
  } */
}

@media screen and (width <= 37.5em) {
  body {
    padding: 0;
  }

  .app {
    width: 100%;
  }

  .comment {
    grid-template-rows: auto;
    column-gap: 0;
    row-gap: 2.8rem;
    position: relative;
  }

  .post-reply,
  .post-comment {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    position: relative;
  }

  .comment-form {
    column-gap: 0;
    grid-row-start: 1;
  }

  .user-avatar {
    grid-row-start: -1;
    margin-left: 0;
  }

  .comment-top {
    margin-bottom: 1.75rem;
  }

  .votes {
    grid-row-start: -1;
    flex-direction: row;
    margin-right: auto;
  }

  .votes > p {
    padding: 0rem 1.5rem;
    margin: 0;
  }

  .btn-incr,
  .btn-desc {
    width: 4.4rem;
    height: 4.4rem;
    aspect-ratio: 1;
  }

  .btn-reply,
  .btn-edit,
  .btn-delete,
  .btn-submit {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
  }

  .btn-submit {
    margin-bottom: -1rem;
  }

  .btn-delete {
    right: 8rem;
  }

  .reply {
    margin-left: 0;
    padding-left: 2rem;
  }
}

@media screen and (width <= 23.4375em) {
  .app {
    width: 100%;
    padding: 1.5rem 1rem;
  }

  .comment,
  .post-comment,
  .post-reply {
    padding: 1.5rem;
  }

  .reply {
    padding-left: 1rem;
  }

  .votes > p {
    padding: 0rem 0.85rem;
    margin: 0;
  }

  .btn-reply,
  .btn-edit,
  .btn-delete,
  .btn-submit {
    position: absolute;
    bottom: 1.75rem;
    right: 1.5rem;
  }

  .btn-delete {
    right: 6.55rem;
  }

  .user-avatar {
    margin-bottom: -1rem;
  }

  .btn-submit {
    margin-bottom: 0rem;
  }
}

@media screen and (width <= 20em) {
  .timestamp {
    font-size: 1.45rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 0 !important;
  }
}
